*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* fondo loco */
@keyframes cambio-color {
    0% {
        background-color: #171e81; 
    }
    20% {
        background-color: #21dddd; 
    }
    40% {
        background-color: #1f1fe0; 
    }
    60% {
        background-color: #00f0f0; 
    }
    80% {
        background-color: #0000ff;
    }
    100% {
        background-color: #0659d6; 
    }
}

/* animacion del fondo */
body {
    animation: cambio-color 2s ease-in-out infinite; 
}
